@media only screen and ( min-width: 769px ) {
    
    .btn {
        border: 1px solid white;
        border-radius: 0.6rem;
        padding: 0.62rem 1rem 0.62rem 1rem;
        font-size: 1.3rem;
    }

    /* Nav */
    nav {      
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: unset;
    }

    nav a span {
        white-space: nowrap;
    }

    button.hamburger {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: center;
        /*position: unset;*/
        position: static;
        left: unset;
        top: unset;
        align-items: stretch;
        background-color: unset;
    }

    .nav-menu > .nav-item {
        width: unset;
        height: unset;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav-menu > .nav-item > a {        
        font-size: 0.9em;
        color: white;
    }

    .nav-menu > .nav-item > a:hover {
        color: var( --bikesblue );
    }

    .nav-menu > .menu-divider {
        border: 1px solid white;
    }

    nav > .nav-social {
        display: flex;
    }

    nav > .nav-social > a > img {
        width: 24px;
        margin-left: 1rem;
    }

    /* Hero */
    #hero {
        background: url( '../img/hero-1200.webp' );
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
    }

    #hero > .container {
        align-items: flex-start;
        text-align: left;
        width: 80%;
    }

    #hero > .container > img {
        margin-left: 3rem;
    }

    #hero > .container > .hero-content {
        max-width: 768px;
    }

    #hero > .container > .hero-content > a {
        align-self: flex-start;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1.2em;
    }

    /* Informacion */
    #informacion > .container {
        display: flex;
    }

    #informacion > .container > .titulo-movil {
        display: none;
    }

    #informacion > .container > .informacion-imagen img {
        width: 400px;
    }

    #informacion > .container > .informacion-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: right;
        padding-left: 2rem;
        padding-right: 2rem;
        
    }

    #informacion > .container > .informacion-texto > .titulo-desktop {
        display: unset;
    }

    /* Visítanos */
    iframe {
        height: 300px;
    }

    #visitanos > .container > .enlaces-sociales > * {
        padding: 1rem;
    }

    #visitanos > .container > .enlaces-sociales > div > h3 {
        font-size: 1em;
    }

    /* Footer */
    footer > .container > span {
        font-size: 0.9rem;
    }

    
 
 }