/* Nav */
nav {
    position: sticky;

    width: 100%;
    background: rgba( 0, 0, 0, 0.5 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

nav > a {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.logotipo {
    font-family: 'Bebas Neue';
    font-size: 2.2em;
    color: white;
    /*padding-top: 0.3rem;*/
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: no-wrap;
    position: fixed;
    left: -100%;
    top: 45px;
    background-color: var( --dark );
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3%;
    box-shadow: 0 10px 27px rgba( 0, 0, 0, 0.05 );
    color: white;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0;
    height: 6rem;
    justify-content: center;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
}

.nav-link:hover {
    color: var( --bikesblue );
}

.nav-social {
    display: none;
}

button.hamburger {
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: none;
    display: block;
    cursor: pointer;
}

/* Fancy animation starts here */
.hamburger.active .bar:nth-child( 2 ) {
    opacity: 0;
}

.hamburger.active .bar:nth-child( 1 ) {
    transform: translateY( 8px ) rotate( 45deg );
}

.hamburger.active .bar:nth-child( 3 ) {
    transform: translateY( -8px ) rotate( -45deg );
}
/* Fancy animation ends here */

.bar {
    display: block;
    width: 1.3rem;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 25%;
}

/* Hero */
#hero {
    margin-top: -45px;
    background: url( '../img/hero-0768.webp' );
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero > .container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top: 4rem;
}

#hero > .container > .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#hero > .container > .hero-content > * {
    margin-top: 1rem;
}

.hero-content h1 {
    line-height: 1.5em;
}

.hero-content p {
    font-size: 0.9em;    
    line-height: 1.5em;
    color: lightgray;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.88);
}

/* Información */
#informacion {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

#informacion > .container {
    text-align: center;
}

#informacion > .container > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#informacion > .container > .informacion-texto > .titulo-desktop {
    display: none;
}

img#img-info {
    --b:5px; /* adjust this */
  border:10px solid #0000; /* this */
  background:
    conic-gradient(from 0deg   at var(--b) calc(100% - var(--b)),#0000 90deg,#000 0) bottom left,
    conic-gradient(from 180deg at calc(100% - var(--b)) var(--b),#0000 90deg,#000 0) top right;
  background-size:60px 50px; /* and this */
  background-origin:border-box;
  background-repeat:no-repeat;
  width: 100%;
  max-width: 550px;
}

/* Venta y Renta */
#venta-renta {    
    display: flex;
    justify-content: center;
}

#venta-renta > .container {
    width: 100%;
    height: 700px;
    background-image: url( "../img/slider-background.webp" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

#venta-renta > .container h1 {
    font-size: 1.5em;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#venta-renta > .container h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 1em;    
    font-weight: 400;
}

/*jssor slider loading skin spin css*/
div.jssorl-009-spin {
    position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}

#slider-container {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:437px;
    height:300px;
    overflow:hidden;
}

#slider-container > div img {
    margin-left: 1rem;
    margin-right: 1rem;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {
    position:absolute;cursor:pointer;
    width:12px;height:12px;

}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.3;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

#jssor_1 {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:450px;
    height:300px;
    overflow:hidden;
    visibility:hidden;
}

#jssor_1 a {
    display:none;position:absolute;
}

div.jssorb051 {
    position:absolute;
    bottom:16px;
    right:16px;
}

#arrowleft {
    width:65px;height:65px;top:0px;left:35px;
}

#arrowright {
    width:65px;height:65px;top:0px;right:35px;
}

#costos {
    display: flex;
    justify-content: space-evenly;
}

#costos div {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#costos > div > .btn.btn-clear:hover {
    background: unset;
    color: unset;
}

#costos > div > .btn.btn-clear:active {
    background: unset;
    color: unset;
}

#costos div > h3, #costos div > span {
    font-size: 1em;
    padding: 1rem;
}

/* Visítanos */
#visitanos > .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#visitanos > .container h1:first-child {
    margin-bottom: 3rem;
}

#visitanos > .container > a > img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    max-width: 450px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#visitanos > .container > .enlaces-sociales {
    margin-top: 3rem;
    display: flex;
}

#visitanos > .container > p {
    text-align: center;
}

#visitanos > .container > p > span {
    display: block;
}

#visitanos > .container > .enlaces-sociales > * {
    padding: 0.5rem;
}

#visitanos > .container > .enlaces-sociales > div {
    text-align: center;
    cursor: pointer;
}

#visitanos > .container > .enlaces-sociales > div > a > img {
    width: 2rem;
}

#visitanos > .container > .enlaces-sociales > div > h3 {
    font-size: 0.51em;
    color: var( --bikesblue );
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var( --dark );
}

footer > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

footer > .container > img {
    width: 100px;
    height: auto;
}

footer > .container img:first-child {
    order: 1;
}

footer > .container > span {
    order: 3;
    color: white;
    font-size: 0.5em;
}

#footer-sancarlos {
    order: 2;
}