@media only screen and ( min-width: 481px ) {
    
    /* Nav */
    
    /* Hero */
    #hero > .container > .hero-content {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .hero-content p {
        font-size: 1.1em;
    }

 }